/* Sidebar  */
/* Menu Lateral */
/* https://youtu.be/Poh9zuXp0YA?si=A5nc7PEkvtk2evt_ */
/* https://youtu.be/mm4TAzPYvm4?si=KVdMPFiOhbY3pwko */

/* Variáveis Globais - Base para todos os temas */
:root {
    /* Cores Primárias: */
    --color-primary-100: #66605b;
    /* Menu Lateral */
    --color-primary-hover-900: #1c1c1c;

    /* Cores Secundárias: */   
    --color-secondary-100: #aba095;
    /* Menu Lateral */
    --color-secondary-hover-900: #50131b;

    /* Cores Neutras (utilizadas para fundos, textos, etc.) */
    --color-neutral-100: #f5f5f5;
    --color-neutral-300: #b3aeab;
    --color-neutral-700: #66605b;    
    --color-neutral-900: #1c1c1c;

    /* Cores para Sombras e Bordas */
    --color-shadow: rgba(0, 0, 0, 0.35);
    --color-border: #83818a;
}

/* Definindo variáveis para temas - Light */
/* Se na tela estiver escrito LIGHT mostra esse DARK: */
:root[data-theme="light"] {
    /* Background (Fundo) */
    --bg-primary: var(--color-primary-100); 
    --bg-secondary: var(--color-primary-hover-900);

    /* Text (Texto) */
    --text-primary: var(--color-neutral-100);
    --text-secondary: var(--color-neutral-300);

    /* Hover - Shadow - Border: */
    --hover: var(--color-primary-hover-900);
    --shadow: var(--color-shadow);
    --border: var(--color-border);
}

/* Definindo variáveis para temas - Dark */
/* Se na tela estiver escrito DARK mostra esse: */
:root[data-theme="dark"] {
    /* Background (Fundo) */
    --bg-primary: var(--color-secondary-100);
    --bg-secondary: var(--color-secondary-hover-900);

    /* Text (Texto) */
    --text-primary: var(--color-neutral-300);
    --text-secondary: var(--color-neutral-300);

    /* Hover - Shadow - Border: */
    --hover: var(--color-primary-hover-100);
    --shadow: var(--color-shadow);
    --border: var(--color-border);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
/* Suaviza a rolagem ao clicar no menu */
html {
    height: 100%;
    scroll-behavior: smooth;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: background-color 0.2s ease, color 0.2s ease;
}
body {
    height: 100%;
    /* background-color: var(--bg-primary);  */
    /* Cor de fundo do body */
    /* border: 1px solid var(--border); */
    /* Borda opcional */
    /*! Se eu troco a cor de fundo e tirar borda disfarça defeito */
}
/* ========================================= */
/* MENU LATERAL */
nav.menu-lateral {
    /* width: 300px; */
    /* Testar largura dos ícones: */
    width: 60px;
    height: 100%;
    padding: 40px 0px 40px 1%;
    /* THEME: */
    /* background-color: var(--cor_dark_2); */
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 4px 0 0 var(--shadow);
    /* se tivesse Bordas laterais */
    /* border-right: 1px solid var(--border);  */
    /* Fixar o Menu Lateral na tela: */
    position: fixed;
    top: 0;
    left: 0;
    /* Para Sumir com Menu: */
    overflow: hidden;
    transition: .5s ease;
}
/* Para Expandir no Menu Amburguer: #id.btn-exp */
nav.menu-lateral.expandir {
    width: 250px;
}
.btn-expandir {
    width: 100%;
    padding-left: 15px;
}
.btn-expandir > i {
    color: var(--text-primary);
    font-size: 25px;
    cursor: pointer;
}

/* Teste: */
/* ======EFEITOS HAMBURGER:====== */
/* Hamburguer */
.hamburger {
    /* Display Escondido*/
    /* display: none;  */
    border: none;
    background: none;
    border-top: 2px solid var(--text-primary);
    cursor: pointer;
    margin-top: 5px;
}
.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 20px;
    height: 2px;
    background: var(--text-primary);
    /* margin-top: 5px; */
    /* Para ajustar o primeiro traço */
    margin: 0px 0px 5px 0px;
    /* Para fechamento do X: */
    position: relative;
    transition: 0.4s;
}

/* Para Fazer o X com os dois pauzinhos: */
.btn-expandir.active .hamburger {
    /* Para sumir com o primeiro tracinho: */
    border-top-color: transparent;
}
.btn-expandir.active .hamburger::before {
    transform: rotate(135deg);
}
.btn-expandir.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}
/* ======TRATAMENTO UL======= */
ul {
    height: 100%;
    list-style-type: none;
}
ul li.item-menu {
    transition: .2s;
}
/* Classe ativo para JS: */
ul li.ativo {
    background-color: var(--shadow);
    border-radius: 5px 0px 0px 5px;
}
ul li.item-menu:hover {
    background: var(--shadow);
    border-radius: 5px 0px 0px 5px;
}
ul li.item-menu a {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 15px;
    padding: 15px 4%;
    display: flex;
    margin-bottom: 12px;
    margin-top: 12px;
    /* Para alinhar os ícones com textos: */
    line-height: 30px;
}
/* Para Alinhar o Logo ao X */
nav .btn-expandir {
    display: flex;
}
nav .btn-expandir .hamburger,
nav .btn-expandir .logomarca {
    /* Para ajustar o primeiro tracinho */
    line-height: 2;
}
.logomarca span {
    color: var(--text-primary);
    /* font-size: 20px; */
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    padding-left: 8px;
}
.btn-expandir a {
    text-decoration: none;
}

hr {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 6px;
    color: var(--bg-primary);
    opacity: 0.1;    
}
/* Efeito Movimento Texto ao abrir Menu: */
nav div a .txt-link,
ul li.item-menu a .txt-link {
    /* margin-left: 30px; */
    margin-left: 70px;
    transition: .8s;
    opacity: 0;
    /*! Rever */
    text-decoration: none;
}

/* ======EFEITOS FECHAMENTO MENU X JS:====== */
/* Efeito Movimento ao fechar Menu: */
nav div a.expandir .txt-link,
nav.menu-lateral.expandir .txt-link {
    margin-left: 30px;
    opacity: 1;
}
ul li.item-menu a .icon > i {
    font-size: 20px;
    margin-left: 10px;
}

/* ======VERIFICAR COMO FAZER ENCAIXE DAS PÁGINAS========================================= */
/* ========================================== */
/* SECOES de PAGINAS */
.container-layout {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 60px); /* Largura inicial com o menu recolhido */
    /* Deslocamento inicial para o menu fechado */
    margin-left: 60px; 
    transition: width 0.3s ease, margin-left 0.3s ease;
    /*!! Verificar esse atraso de 5s */

    background-color: var(--bg-primary);
    color: var(--text-primary);
    /* transition: background-color 0.3s ease, color 0.3s ease; */
}
/* Quando o menu está expandido */
/*! Tela Grande??? */
.container-layout.expandido {
    width: calc(100vw - 250px); /* Reduzir a largura com o menu expandido */
    margin-left: 250px; /* Deslocar o container para a direita */
}

.pagina {
    height: 100vh; /* Define a altura da seção como 100% da altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Decoração da Caixa: */
    /* background-color: var(--cor_light_1); */
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;

    padding: 20px;
    transition: box-shadow 0.2s ease;
    
    /* Sombra interna: cria profundidade no interior do elemento */
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1), 
                inset 0px -4px 6px rgba(0, 0, 0, 0.05);
}

/* Adicionando efeito ao passar o mouse: sombra um pouco mais forte */
.pagina:hover {
    box-shadow: inset 0px 6px 8px rgba(0, 0, 0, 0.1), 
                inset 0px -6px 8px rgba(0, 0, 0, 0.09);
}
.pagina h3 {
    font-size: 1.3rem;
    color: var(--text-primary);
}

.pagina.expandido {
    width: calc(100vw - 250px); /* Reduzir a largura com o menu expandido */
    margin-left: 250px; /* Deslocar o container para a direita */
}

/* ESTILOS COMUNS NAS PÁGINAS: */
#pag-home,
#pag-dashboard,
#pag-agenda,
#pag-configuracoes,
#pag-conta,
#pag-thema {
    /* Testes: */
    /* border: 2px solid var(--cor_dark_2); */
    padding: 40px;
}

/* Estilos adicionais específicos para as seções DE Páginas:  */
#pag-home {
    color: lightblue;
}

#pag-dashboard {
    color: lightgreen;
}

#pag-agenda {
    color: lightcoral;
}

#pag-configuracoes {
    color: lightgoldenrodyellow;
}
#pag-conta {
    color: #bbb;
}
#pag-thema {
    color: #bbb;
}

/* ====================================================== */


/*! Fazer o CSS que responde ao Tamanho de Tela ao clicar o Botão!!! menos 250px e menos 60px */


/*======RESPONSIVIDADE:=======*/

@media (max-width: 768px) {
    .container-layout {
        width: calc(100vw - 60px);
        margin-left: 60px;
    }
    .container-layout.expandido {
        width: calc(100vw - 180px);
        margin-left: 180px;
    }
    nav.menu-lateral {
        width: 60px; 
        /* Mantém o menu compacto em telas pequenas */
    }
    nav.menu-lateral.expandir {
        width: 180px;
        margin-left: 0px;
        margin-right: 10px;
    }
  
    /* Tamanho das Fontes: */
    /* Tamanho dos ìcones: */
    /* Largura total do Menu Lateral: */
    /* Largura total do Menu Icones: */
}

@media (max-width: 480px) {
    .container-layout {
        width: calc(100vw - 50px);
        margin-left: 50px;
    }
}
/* ======  ====== */



/* 
Melhorias: 
1- Trocar Menu Amburguer para Abrir e fechar em X OK
2- Criar Seçoes para os links ou Páginas? OK
3- Providenciar Logo OK
4- Rodapé? F
5- Cuidar da Responsividade das Telas F

6- Colocar botão de Ligth e Dark OK
*/

